.navbar {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.06);
}

.navbar__container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 1.8rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.navbar__icon {
  font-size: 2.4rem;
  color: #0f766e;
}

.navbar__title {
  margin: 0;
  margin-right: 2rem;
  font-size: 2.1rem;
  font-weight: 700;
  color: #1f2937;
}

.navbar__menu {
  display: flex;
  align-items: center;
  margin-left: 5rem;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar__item {
  position: relative;
  padding-bottom: 0.4rem;

  font-size: 1.5rem;
  font-weight: 500;
  color: #4b5563;

  cursor: pointer;

  /* transition:
    color 0.3s ease,
    transform 0.2s ease; */
}

.navbar__item:hover {
  color: #0f766e;
  transform: translateY(-0.1rem);
}

.navbar__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.4rem;

  width: 0;
  height: 0.2rem;
  border-radius: 1rem;
  background-color: #0f766e;

  transition: width 0.3s ease;
}

.navbar__item:hover::after {
  width: 100%;
}

.navbar__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__button {
  border: none;
  border-radius: 1rem;
  padding: 0.9rem 2rem;
  background-color: #0f766e;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0.4rem 1rem rgba(15, 118, 110, 0.15);
}

.navbar__button:hover {
  background-color: #115e59;
  box-shadow: 0 0.6rem 1.4rem rgba(15, 118, 110, 0.25);
}

.navbar__button_secondary {
  background-color: transparent;
  border: 0.1rem solid #0f766e;
  color: #0f766e;
  box-shadow: none;
}

.navbar__button_secondary:hover {
  background-color: #f0fdfa;
}

.login-container {
  margin-top: 4rem;
}
